langgraph==0.2.28
langchain-community==0.2.16
langchain-ollama==0.2.0
langchain-postgres==0.0.16
pgvector==0.3.0
psycopg[binary]==3.2.3
sentence-transformers==3.1.1
ollama==0.3.3
rich==13.9.3
crewai==0.51.1
crewai-tools==0.8.3
pyautogen==0.3.1
python-dotenv==1.0.1
